/* Hero.css (sau fișier separat de Header) */
.h-wrapper {
  z-index: 99;
  position: sticky;
  top: 0;
  /* fundal bej deschis, ca Hero 
  background-color: var(--lightBlue);*/
  background-color: white; /* fundal alb pentru contrast */
}

/* Containerul din header */
.h-container {
  color: var(--text-dark); /* text închis pentru contrast */
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.header-logo {
  width: 150px;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 5%;
}

/* Meniul */
.h-menu {
  display: flex;
  gap: 2rem;
  color: var(--primary);    /* verde inchis pentru link-uri */
}
.h-menu > *:hover {
  cursor: pointer;
  color: var(--secondary);  /* bej transparent la hover */
}

/* Iconița de mobile */
.menu-icon {
  display: none;
  color: var(--primary);
  padding-right: 5%;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .h-menu {
    color: var(--text-dark);
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 2rem;
    top: 4rem;
    background: white;
    display: flex;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}
