
:root {
  --primary: #5B6D5C; /* Verde inchis */
  --secondary: rgba(203, 185, 137, 0.78); /* Bej transparent */
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #909473 3.76%, #5B6D5C 100%);
  --orange-gradient: linear-gradient(270deg, #D0BF93 0%, #A4A88D 100%);
  --blue: #5B6D5C;
  --lightBlue: #E4E1D8;
  --shadow: 0px 23px 21px -8px rgba(144, 148, 115, 0.25);
  --btn-color: #BDAB83;

  --primary-dark: #4e5e50;  /* varianta puţin mai întunecată */
  --highlight: #F8F3F2;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*font-family: "Poppins", sans-serif;
  font-family: 'Source Sans Pro', sans-serif;*/
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper{
  background-color: white
}
a {
  color: inherit;
  text-decoration: none;
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: #7a7a7a;
  font-size: 1.35rem;
}
.orangeText {
  color: #D0BF93;
  font-size: 1.5rem;
  font-weight: 600;
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
}

.button {
  font-weight: 600;
  padding: 0.45rem 1.4rem;
  color: #fff;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  border-radius: 50px; 
  transition: all 300ms ease-in;
}
.button:hover {
  cursor: pointer;
  background-color: white;    /* devine transparentă */
  color: var(--primary);          /* textul ia culoarea butonului */
  transform: scale(1.1);
  border: 2px solid var(--btn-color);

}